img {
  border-radius: 10px;
  outline: 0 none;
}


/*change the colour of the header */

#header {
  background-color: #333528;
  background-image: none;
}

/* change the backgroud of the wrapper*/


#main-wrapper{
  background-color: #7A9F36;
}

